@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-------------RESET------------- */

*{
    margin: 0;
    padding: 0;
    
}


/* -------------HEADER------------- */

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav ul li{
    display: inline-block;
    margin: 5px 10px 5px 10px;
}

.litems a{
    font-size: 120%;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: black;
    background-color: #b88b03;
    border-radius: 20px;
    position: relative;  
    outline: none;
    cursor: pointer; 
    transition: .5s;
    overflow: hidden;
}

.litems:hover a{
    color: white;
    background-color: black;
}


.navbar-brand img{
    width: 180px;
    height: 180px;
}

.collapse form input{
    border-radius: 20px;
    border-color: black;
}
.collapse button{
    background-color: #b88b03;
    color: black;
    font-weight: bold;
    font-size: 120%;
    border-radius: 20px;
}

.btn:hover{
    background-color: black;
    color: white;
}

/* -------------MAIN---------------- */
.hero h1{
    font-size: 70px;
    text-align: center;
    border: solid 5px white;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}

h1{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.562);
}

h1 span{
    color: #FFC107;
}
.hero p{
        font-size: 25px;
        margin: 10px 20px 30px 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.562);
    }
    
.hero a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 30px;
        background-color: black;
        padding: 10px;
        border: 2px solid white;
    }

.hero{
        width: 100%;
        height: 80vh;
        text-align: center;
        background-image: url("../img/bgconcesi.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

@media screen and (max-width: 825px){

        .hero h1{
            border: none;
        }
    }
@media screen and (max-width: 450px){

    .hero h1{
        font-size: 55px;
        border: none;
    }

}

@media screen and (max-width: 450px){

    .hero p{
        font-size: 20px;
    }

}

@media screen and (max-width: 450px){

    .hero a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 25px;
        background-color: black;
        padding: 5px;
        border: 2px solid white;
    }
}
    

/*--------Segunda parte index--------*/

.tituh2 h2{
    text-align: center;
    color: black;
    background-color: #FFC107;
    padding: 1%;
}

.tituh2 h2{
    font-size: 30px;
    font-weight: bold;
}


body{
    font-family: 'Poppins', sans-serif;
}



/*--------CARROUSEL-------*/

.carrusel{
    width: 100%;
    overflow: hidden;
    
}



.carrusel img{
    height: 450px;
    z-index: 10;
    position: relative;
}


.subtitulo h2{
    display: flex;
    justify-content: center;
}

.subtitulo h2{
    background-color: #FFC107;
}


@font-face {
    font-family: "amsterdam-four";
    src: url(../fonts/amsterdam-four-ttf.ttf);
    font-weight: bold;
    font-style: bold;
}
.subtitulo h2 span{
    font-family: "amsterdam-four";
    font-weight: bold;
    font-size: 40px;
    
}
.paragraf p{
    display: flex;

}

.container-fluid{
    padding: 0%;
}

.paragraf img{
    width: 500px;
    height: 300px;
    margin: 10px;
}

.paragraf{
    display: flex;
    justify-content: space-around;
}


.hero h2{
    color: black;
    font-size: 90px;
}

.tit h2{
    text-align: center;
}


.tot{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 10px 5px;
} 

.tot img{
    width: 1600px;
    height: 300px;
}



.autos img{
    width: 250px;
    height: 250px;
    
}

.marquis{
    display: flex;
    justify-content: space-around;
}

.marquis div{
    width: 250px;
    height: 350px;
    border: 2px solid black;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.marquis div h3{
    margin: 8px;
}

.marquis div a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 4px;
}

.sti img{
    height: 60px;
    width: 60px;
}
.sti{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.iconow a i{
    position: fixed;
    right: 50px;
    bottom: 125px;
    font-size: 60px;
    color: black;
    z-index: 150;
    
    
}


/*---------------MEDIAQUERIES--------*/

@media screen and(max-widht:650px){

    .carrusel{
        width: 600px !important;
    }
}

@media screen and (max-width:900px){

    .paragraf img{
        width: 300px;
        height: 200px;
        margin: 5px;
    }
}

@media screen and (max-width:850px){
    .paragraf{
        flex-direction: column;
    }
    .paragraf p{
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .paragraf{
        align-items: center;
    }
}

@media screen and (max-width:450px){
    .paragraf p{
        font-size: 15px;
        justify-content: space-around;
    }
}


@media (max-widht:600px){
    
    .carousel-item{
        width: 80%;
    }
}



/*-----------GRID------------------*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columnas responsivas */
    gap: 20px; /* Espacio entre elementos */
    padding: 20px; /* Espacio alrededor del grid */
}

.grid-item {
    border: 1px solid #ccc; /* Borde alrededor de cada elemento */
    padding: 10px; /* Espacio interno */
}

.grid-item img {
    max-width: 100%; /* Para que las imágenes sean responsivas */
}

  /* Estilos adicionales según sea necesario */


.rueda img{
    width: 500px;
    height: 300px;
    margin: 10px;
    
}




/*-------------PAGE TOYOTA-----------*/

/*---------HEADER TOYOTA------------------*/
.toyotita img{
    width: 250px;
    height: 200px;
}

.toyotaheader{
    height: 100px;
}
/*-----------MAIN TOYOTA-----------*/

.imgtoyotas{
    width: 100%;
    
    
}



.imgtoyotas img{
    height: 500px;
    z-index: 10;
    position: relative;
}


/*-------------PAGE RENAULT-----------*/

/*---------HEADER RENAULT------------------*/

.renaultitos img{
    width: 300px;
    height: 200px;
}

/*-----------MAIN RENAULT-----------*/
.imgrenaultitos{
    width: 100%;
    
    
}



.imgrenaultitos img{
    height: 500px;
    z-index: 10;
    position: relative;
}

/*-------------PAGE PEUGEOT-----------*/
/*---------HEADER PEUGEOT------------------*/
.peugeotito img{
    width: 250px;
    height: 200px;
}

/*-----------MAIN PEUGEOT-----------*/
.imgpeugeots{
    width: 100%;
    
    
}



.imgpeugeots img{
    height: 500px;
    z-index: 10;
    position: relative;
}
/*-------------PAGE CONTACTO---------*/
/*-------------CONTACTO HEADER---------*/

/*-------------CONTACTO MAIN---------*/
h2{
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.formularios{
    background-color: rgba(0, 0, 0, 0.562); 
}


.mapita{
    margin-top: 10px;
}



/* -------------FOOTER------------- */

footer{
    background-color: #FFC107;
}
.footersection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



.loguitofooter img{
    width: 100px;
    height: 100px;
}

.social-icons img{
    width: 90px;
    height: 90px;
    margin: 5px;
}

@media screen and (max-width: 550px){
    .footersection .social-icons a img{
        width: 30px;
        height: 30px;
    }
} 
    
