@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-------------RESET------------- */

*{
    margin: 0;
    padding: 0;
    
}


/* -------------HEADER------------- */

header{
    position: sticky;
    top: 0;
    z-index: 100;
}


.navbar-brand img{
    width: 180px;
    height: 180px;
}

.litems a{
    font-size: 120%;
    font-weight: bold;
    color: black;
}
header h1{
    font-size: 90px;
    text-align: center;
    }

.up{
    display: flex;
    justify-content: space-between;

}

.up nav li ul a{
    text-decoration: none;
    text-align: center;
    padding: 50%;

}

.up div img{
    display: inline-block;
}

@font-face {
    font-family: "amsterdam four";
    src: url(../fonts/amsterdam-four-ttf.ttf);
}

.hero h1{
    font-size: 60px;
    font-weight: bold;
}
    
.hero p{
    font-size: 25px;
    margin: 10px 20px 30px 20px;
}

.hero a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background-color: black;
    padding: 10px;
    border: 2px solid white;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 120%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.arriba{
    display: flex;
    justify-content: center;
}
header nav ul li{
    display: inline-block;
    margin: 5px 10px 5px 10px;
}

    





.scrolle ul li a{
    text-decoration: none;
    color: black;
    font-size: 120%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.tituh2 h2{
    text-align: center;
    color: black;
    background-color: rgb(242, 250, 90);
    padding: 1%;
}

.tituh2 h2{
    font-size: 30px;
    font-weight: bold;
}
/* -------------MAIN---------------- */

body{
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url("../img/bgconcesi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.carrusel{
    width: 100%;
    overflow: hidden;
    
}


.carrusel img{
    height: 450px;
    z-index: 10;
    position: relative;
}

@media screen and(max-widht:650px){

    .carrusel{
        width: 600px !important;
    }
}


.subtitulo h2{
    display: flex;
    justify-content: center;
}

.paragraf p{
    display: flex;

}

.container-fluid{
    padding: 0%;
}

.paragraf img{
    width: 500px;
    height: 300px;
    margin: 10px;
}

.paragraf{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:900px){

    .paragraf img{
        width: 300px;
        height: 200px;
        margin: 5px;
    }
}

@media screen and (max-width:850px){
    .paragraf{
        flex-direction: column;
    }
    .paragraf p{
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .paragraf{
        align-items: center;
    }
}

@media screen and (max-width:450px){
    .paragraf p{
        font-size: 15px;
        justify-content: space-around;
    }
}

.hero h2{
    color: black;
    font-size: 90px;
}

.tit h2{
    text-align: center;
}


.tot{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 10px 5px;
} 

.tot img{
    width: 1600px;
    height: 300px;
}



.autos img{
    width: 250px;
    height: 250px;
    
}

.marquis{
    display: flex;
    justify-content: space-around;
}

.marquis div{
    width: 250px;
    height: 350px;
    border: 2px solid black;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.marquis div h3{
    margin: 8px;
}

.marquis div a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 4px;
}

.sti img{
    height: 60px;
    width: 60px;
}
.sti{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

@media (max-widht:600px){
    
    .carousel-item{
        width: 80%;
    }
}

/*-----------GRID------------------*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columnas responsivas */
    gap: 20px; /* Espacio entre elementos */
    padding: 20px; /* Espacio alrededor del grid */
}

.grid-item {
    border: 1px solid #ccc; /* Borde alrededor de cada elemento */
    padding: 10px; /* Espacio interno */
}

.grid-item img {
    max-width: 100%; /* Para que las imágenes sean responsivas */
}

  /* Estilos adicionales según sea necesario */


.rueda img{
    width: 500px;
    height: 300px;
    margin: 10px;
    
}

/*-------------CONTACTO MAIN---------*/



/* -------------FOOTER------------- */

.footerlogo img{
    width: 100px;
    height: 100px;
}



.social-icons{
    display: flex;
    flex-direction: row-reverse;
    
}

.social-icons img{
    width: 50px;
    height: 50px;
}

.social-icon{
    margin-left: 10px;
    margin-inline-end: 10px;
    padding: 5px;
}


footer basquet{
    background-color: gray;
}



footer futsal img{
    width: 50px;
    height: 50px;
}

footer gimnasio img{
    width: 50px;
    height: 50px;
}

footer natacion img{
    width: 50px;
    height: 50px;
}