@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/*-------------RESET------------- */

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Poppins', sans-serif;
}

/* -------------HEADER------------- */

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav ul li{
    display: inline-block;
    margin: 5px 10px 5px 10px;
}

.litems a{
    font-size: 120%;
    font-weight: bold;
    color: $color-secundario;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: $color-secundario;
    background-color: $color-principal;
    border-radius: 20px;
    position: relative;  
    outline: none;
    cursor: pointer; 
    transition: .5s;
    overflow: hidden;
}

.litems:hover a{
    color: $color-terciario;
    background-color: $color-secundario;
}


.navbar-brand img{
    width: 130px;
    height: 130px;
}

.collapse form input{
    border-radius: 20px;
    border-color: $color-secundario;
}
.collapse button{
    background-color: $color-principal;
    color: $color-secundario;
    font-weight: bold;
    font-size: 120%;
    border-radius: 20px;
}

.btn:hover{
    background-color: $color-secundario;
    color: $color-terciario;
}


/*--------HEADER TOYOTA--------*/

.toyotaheader{
    height: 100px;
}

.toyotita img{
    width: 250px;
    height: 200px;
}
/*----------AMSTERDAM FONT----------*/

@font-face {
    font-family: "amsterdam-four";
    src: url(../fonts/amsterdam-four-ttf.ttf);
    font-weight: bold;
    font-style: bold;
}

/*--------CARROUSEL-------*/

.carrusel{
    width: 100%;
    overflow: hidden;
    
}



.carrusel img{
    height: 450px;
    z-index: 10;
    position: relative;
}

/*-----------PRESENTACION AUTOS---------*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columnas responsivas */
    gap: 20px; /* Espacio entre elementos */
    padding: 20px; /* Espacio alrededor del grid */

}

.grid-item{
    border: 1px solid #ccc; /* Borde alrededor de cada elemento */
    padding: 10px; /* Espacio interno */
    
}



.grid-item img{
    max-width: 100%; /* Para que las imágenes sean responsivas */
}



.card img{
    width: 500px;
    height: 300px;
}

.grid-item{
    align-content: center;
    flex-direction: column;
    
}
.grid-item h2{
    font-weight: bold;
    font-size: nth($font-size, 9);
}

.grid-item h3{
    font-weight: bold;
    font-size: nth($font-size, 3);
}

.grid-item a{
    text-decoration: none;
    color: $color-secundario;
    padding: 15px;
    border: 2px solid $color-secundario;
    display: flex;
    
    justify-content: center;
    

}

.centre{
    display: flex;
    justify-content: center;
}

.grid-item:hover a{
    background-color: $color-secundario;
    color: $color-terciario;
    transition: .5s;
}

/*---------ICONO WHATSAPP------------*/

.iconow a i{
    position: fixed;
    right: 50px;
    bottom: 70px;
    font-size: nth($font-size, 10);
    color: $color-secundario;
    z-index: 150;
    
    
}

.bi-whatsapp::before {
    background-color: #25D366;
    border-radius: 80%;
}