/*-------------CONTACTO MAIN---------*/

.bgcontact{
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.381), rgba(0, 0, 0, 0.381)), url("../img/pexels-modificada.jpg");
    background-size: cover;
    background-position: 0px 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .agrupado{
        .formularios{
            .subcontacto{
                h2{
                    color: $color-terciario;
                    background-color: rgba(0, 0, 0, 0.562);
                    font-size: 70px;
                    font-weight: bold;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    display: flex;
                    justify-content: center;
            }
        }
            .container-fluid{
                .titleform{
                    font-weight: bold;
                    color: $color-secundario;
                    padding-left: 5px;
                    h3{
                        width: 290px;
                        background-color: rgba(0, 0, 0, 0.781);
                        font-size: 20px;
                        color: $color-principal;
                        margin-top: 10px;
                        display: flex;
                        justify-content: start;
                        padding-left: 5px;
                        border-radius: 15px;
                    }
                        
                    textarea{
                        border: 2px solid #0d0d0d;
                        border-radius: 5px;
                    }
                    select{
                        border: 2px solid #0d0d0d;
                        border-radius: 15px;
                    }
            }
                .titlecondicion{
                    h3{
                        display: flex;
                        justify-content: start;
                        padding-left:  5px;
                    }
                }
                .seleccion{
                    h3{
                        width: 290px;
                        background-color: rgba(0, 0, 0, 0.781);
                        color: $color-principal;
                        

                    }
                    &:hover select{
                        color: $color-principal;
                        background-color: $color-secundario;
                        transition: .5s;
                    }
                    
                }
                
                .cajasform{
                    input{
                        padding-left: 5px;
                        border-radius: 20px;
                        width: 300px;
                        margin-left: 5px;
                    }

            }
                .separate{
                    input{
                        border: solid 2px;
                        font-weight: bold;
                        margin: 5px;
                        padding: 5px;
                        position: relative;  
                        outline: none;
                        cursor: pointer; 
                        transition: .5s;
                        overflow: hidden;
                        border-radius: 15px;
                        &:hover{
                            background-color: $color-secundario;
                            color: $color-principal;
                        }
                        &:hover{
                            background-color: $color-secundario;
                            color: $color-principal;
                        }
                    }
            }
        }
    }
    
        .mapita{
            margin-top: 10px;
            background-color: rgba(0, 0, 0, 0.562);
        }
        h3{
            background-color: rgba(0, 0, 0, 0.562);
            color: $color-terciario;
            font-size: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            justify-content: center;
        }
        ul{
            width: 600px;
            border: 2px solid $color-terciario;
            margin: 2px;
            background-color: rgba(0, 0, 0, 0.822);
            color: $color-principal;
            li{
                font-weight: bold;
                color: $color-principal;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                border: 2px solid $color-terciario;
                margin: 2px;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.822);
            }
            .titlelugar{
                display: flex;
                justify-content: center;
                span{
                    font-family: "amsterdam-four";
                    font-size: 25px;
                    font-weight: bold;
                }
            }
        }
    

        }
}

    


