footer{
    background-color: #FFC107;
}

    .footersection{
        display: flex;
        justify-content: space-around;
        align-items: center;
    div{
        img{
            width: 80px;
            height: 80px;
            margin: 5px;
        }
        }
    }


.derechos{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: #FFC107;
    p{

        span{
            font-family: "amsterdam-four";
            font-size: 15px;
        }
    }
}