/*---------HERO SECTION------------*/

.hero{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.671), rgba(0, 0, 0, 0.381)), url("../img/bgconcesi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flex (flex, center, center);
    flex-direction: column;
    
    div{
        h1{
            font-size: nth($font-size, 11);
            text-align: center;
            border: solid 5px white;
            padding: 10px;
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            display: block;
            font-size: 1.5em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.562);
        }
            h1 span{
                    color: $color-principal;
            }
        p{
            font-size: nth($font-size, 7);
            margin: 10px 20px 30px 20px;
            color: $color-terciario;
            background-color: rgba(0, 0, 0, 0.562);            
        }
        a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 25px;
        background-color: $color-secundario;
        padding: 10px;
        border: 2px solid $color-terciario;
        }
    }
        }


.container{
    .subtitulo{
        margin-bottom: 30px;
        h2{
            display: flex;
            justify-content: center;
            background-color: $color-principal;}

            span{
                font-family: "amsterdam-four";
                font-weight: bold;
                font-size: nth($font-size, 9);
            }
        }
    .paragraf{
        
        display: flex;
        justify-content: space-around;}

        .textpar{
            display: flex;
            flex-direction: column;
        }
        img{
            width: 500px;
            height: 300px;
            margin: 10px;
        }
    
        }

.tituh2{
    margin-top: 30px;
    margin-bottom: 30px;
    h2{
        text-align: center;
        background-color: $color-principal;
        padding: 1%;
        font-size: nth($font-size, 8);
        font-weight: bold;
        span{
            font-family: "amsterdam-four";
            font-size: 60px;
        }
    }
}

/*------------CARDS----------------*/

.beneficios{
    .cards{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        ;
        div{
            width: 400px;
            height: 600px;
            border: 2px solid $color-secundario;
            margin-top: 1px;
            margin-right: 5px;
            margin-left: 10px;
            margin-bottom: 5px;
            box-shadow: 10px 7px 30px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 7px 30px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 7px 30px 0px rgba(0,0,0,0.75);
            
            img{
                width: 396px;
                height: 400px;
            }
            h3{
                text-align: center;
                font-size: nth($font-size, 3);
                font-weight: bold;
                margin-top: 10px;
            }
        .titu1{
            h3{
                font-size: 5px;
            }
                
            }
            p{
                display:flex;
                justify-content: center;
                padding: 12px;
            }
            

            
        }
    }
}

.tituacordeon{
    background-color: $color-principal;
    margin-bottom: 30px;
    margin-top: 30px;
    @extend %flex-center;
    h2{
        
        span{
            font-family: "amsterdam-four";
            font-size: nth($font-size, 10);
            
        }
    }
}



.titulofrecuente{
    padding-left: 5px;
    background-color: $color-principal;
    margin-bottom: 10px;
}