/*------------HEADER RENAULT----------*/
.peugeotito{
    img{
        width: 250px;
        height: 200px;
    }
}

/*-----------MAIN PEUGEOT-----------*/

.imgpeugeots{
    width: 100%;
    img{
        height: 700px;
        z-index: 10;
        position: relative;
    }
}

.videitos{
    h2{
        background-color: $color-principal;
        display: flex;
        justify-content: center;
    }
    .imgtext{
        display: flex;
        justify-content: space-around;
        iframe{
            width: 600px;
            height: 315px;
            padding-left: 50px;
        }
        p{
            padding-left: 20px;
            padding-right: 80px;
        }

    }

    }
