/*------------HEADER RENAULT----------*/
.peugeotito{
    img{
        width: 250px;
        height: 200px;
    }
}

/*-----------MAIN PEUGEOT-----------*/

.imgpeugeots{
    width: 100%;
    img{
        height: 500px;
        z-index: 10;
        position: relative;
    }
}