/*-----------HEADER RENAULT---------*/

.renaultitos{
    img{
        width: 300px;
        height: 200px;
    }
}

/*-----------MAIN RENAULT-----------*/

.imgrenaultitos{
    width: 100%;
    img{
        height: 700px;
        z-index: 10;
        position: relative;
    }
}


.titulrenault{
    margin-top: 50px;
    margin-bottom: 50px;
    h2{
        display: flex;
        justify-content: center;
        background-color: $color-principal;
        font-size: 40px;
    }
}











.finalrenault{ 
    margin-top: 30px;
    .designer{
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        .designexp{
            h3{
                font-weight: bold;
                font-size: 30px;
                margin-left: 200px;
            }
            p{
                font-size: 20px;
                margin-left: 200px;
                margin-right: 30px;
            }
        }
        .imgdesign{
            img{
                width: 600px;
                height: 450px;
                margin-left: 50px;
                margin-right: 250px;
            }
            
        }
    }
    .calidad{
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        .imgcalidad{
            img{
                width: 600px;
                height: 450px;
                margin-left: 200px;
                margin-right: 50px;
            }
        }
        .calidadexp{
            h3{
                font-weight: bold;
                font-size: 30px;
            }
            p{
                font-size: 20px;
                margin-top: 30px;
                margin-right: 200px;
            }
        }
    }
    .seguridad{
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        .expliqseg{
            h3{
                font-weight: bold;
                font-size: 30px;
                margin-left: 200px;
            }
            p{
                font-size: 20px;
                margin-left: 200px;
                margin-right: 30px;
                margin-top: 30px;
            }
        }
        .imgseguridad{
            img{
                width: 600px;
                height: 450px;
                margin-left: 50px;
                margin-right: 250px;
            }
            
        }
    }
    .respambiental{
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;
        .imgambiental{
            img{
                width: 600px;
                height: 450px;
                margin-left: 200px;
                margin-right: 50px;
            }
        }
        .expliq{
            h3{
                font-weight: bold;
                font-size: 30px;
            }
            p{
                font-size: 20px;
                margin-top: 30px;
                margin-right: 200px;
            }
        }
    }
}
